<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aromko.de.wishlist">

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".database.FirebasePersistence"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD-KB0cNj0mGvmhNQ2FyFXIXDRKeHDV5Ck"/>

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="aromko.de.wishlist" android:scheme="http"/>
                <data android:host="aromko.de.wishlist" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProfilActivity"
            android:label="@string/title_activity_profil"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WishActivity"
            android:label="@string/title_activity_wish"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
</manifest>